<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Agregar Persona</h1> 

        <form action="/addPerson" method="POST">
           <label for="nss">NSS:</label>
           <input type="text" id="nss" name="nss"> <br> <br>
           <label for="nombre">Nombre:</label>
           <input type="text" id="nombre" name="nombre"> <br> <br>
           <label for="edad">Edad:</label>
           <input type="text" id="edad" name="edad"> <br> <br>
           <label for="tipoSangre">Tipo de sangre:</label>
           <input type="text" id="tipoSangre" name="tipoSangre"> <br> <br>

           <input type="submit" value="Submit">
        </form>
    </body>
</html>